{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    تونز - آلبوم
    {{ album.name }}
{% endblock %}
{% block playlist %}
    // add tracks
    {% for track in tracks %}
        id = "#playlist-add-{{ track.id }}"
        $(id).click(function() {
        myPlaylist.add({
            title:"{{ track.name }}",
            artist:"{% for artist in track.artistID.all %}{{ artist.name }}{% endfor %}",
            free:false,
            mp3:"{{ track.link.url }}",
            poster: "{{ track.playerImg.url }}"
        });
        myPlaylist.next();
        myPlaylist.pause();
        });
    {% endfor %}

    // play tracks
    {% for track in tracks %}
        id = "#playlist-play-{{ track.id }}"
        $(id).click(function() {
        myPlaylist.add({
            title:"{{ track.name }}",
            artist:"{% for artist in track.artistID.all %}{{ track.name }}{% endfor %}",
            free:false,
            mp3:"{{ track.link.url }}",
            poster: "{{ track.playerImg.url }}"
        });
        myPlaylist.next();
        });
    {% endfor %}

    id = "#playlist-add-all"
    $(id).click(function(){
        {% for track in tracks %}
            myPlaylist.add({
                title:"{{ track.name }}",
                artist:"{% for artist in track.artistID.all %}{{ track.name }}{% endfor %}",
                free:false,
                mp3:"{{ track.link.url }}",
                poster: "{{ track.playerImg.url }}"
            });
            myPlaylist.next();
            myPlaylist.pause();
        {% endfor %}
    });

    id = "#playlist-play-all"
    $(id).click(function(){
        {% for track in tracks %}
            myPlaylist.add({
                title:"{{ track.name }}",
                artist:"{% for artist in track.artistID.all %}{{ track.name }}{% endfor %}",
                free:false,
                mp3:"{{ track.link.url }}",
                poster: "{{ track.playerImg.url }}"
            });
            myPlaylist.next();
        {% endfor %}
    });

{% endblock %}
{% block section %}
<section class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 cover-bg" style="background: url('{{ album.backImg.url }}') no-repeat top center; background-size: 100% 500px; padding:300px 0px; min-height: 500px;">
				<div class="container">
					<div class="col-md-4 col-md-push-8 col-sm-4 col-sm-push-8 col-xs-12">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
							<img src="{{ album.iconImg.url }}" alt="" class="img-responsive">
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12 paddingTop no-padding">
							<div class="title">
								<p class="pull-right">
									<span class="fa fa-bars"></span>کاورها
								</p>
								<ul class="pull-left ZDmneu">
									<li><a href=""><img src="{% static 'music/img/zoom.png'%}" alt=""></a></li>
									<li><a href=""><img src="{% static 'music/img/download.png'%}" alt=""></a></li>
								</ul>
								<div class="clear"></div>
							</div>
							<div class="box-body">
								<div class="carousel slide media-carousel" id="media1">
							        <div class="carousel-inner">
                                        {% for cover in album_covers %}
                                          <div class="item {% ifequal forloop.first True %}active{% endifequal %}">
                                            <div class="row">
                                              <div class="col-md-12">
                                                <a href="#"><img class="img-responsive" alt="" src="{{ cover.img.url }}"></a>
                                              </div>
                                            </div>
                                          </div>
                                        {% endfor %}
							        </div>
							        <a data-slide="prev" href="#media1" class="left carousel-control"><img src="{% static 'music/img/sliderPrev.png'%}" alt=""></a>
							        <a data-slide="next" href="#media1" class="right carousel-control"><img src="{% static 'music/img/sliderNext.png'%}" alt=""></a>
							    </div>   
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
							<div class="title">
								<p class="pull-right">
									<span class="fa fa-bars"></span>اطلاعات
								</p>
								<div class="clear"></div>
							</div>
							<div class="box-body">
								<div class="media">
								  <div class="pull-left">
								    <a href="#">
								      <img class="media-object" src="{{ album.publisherImg.url }}" alt="...">
								    </a>
								  </div>
								  <div class="media-body">
								    <ul class="publisher">
                                        <li><span>ناشر : </span>
                                            {{ album.publisherName }}
                                        </li>
                                        <li>
                                            <span>سال انتشار : </span>
                                            {{ album.publishDate | date:"Y" }}
                                        </li>
                                        <li>
                                            <span>شماره مجوز : </span>
                                            {{ album.licenseNo }}
                                        </li>
                                        {% if album.website %}
                                            <li>
                                                <a target="_blank" href="{{ album.website }}">وب سایت</a>
                                            </li>
                                        {% endif %}
								    </ul>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-8 col-md-pull-4 col-sm-8 col-sm-pull-4 col-xs-12" style="padding-right:0px;">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
							<div class="albumDetail">
								<div class="col-md-9 col-md-push-3 col-sm-8 col-sm-push-4 col-xs-12 media">
								  <div class="pull-right">
								    <a href="#">
								      <img class="media-object" src="{% static 'music/img/folder2.png'%}" alt="...">
								    </a>
								  </div>
								  <div class="media-body detail2">
								    <h4>{{ album.name }}</h4>
								    <ul>
							    		<li>{% for artist in album.artistID.all %}{{ artist.name }}{% endfor %}</li>
							    		<li>|</li>
							    		<li>{{ album.style }}</li>
							    		<li>|</li>
							    		<li>
							    			<ul class="stars">
							    				<li><img src="{% static 'music/img/starEmpty.png'%}" alt=""></li>
							    				<li><img src="{% static 'music/img/starFill.png'%}" alt=""></li>
							    				<li><img src="{% static 'music/img/starFill.png'%}" alt=""></li>
							    				<li><img src="{% static 'music/img/starFill.png'%}" alt=""></li>
							    				<li><img src="{% static 'music/img/starFill.png'%}" alt=""></li>
							    			</ul>
							    		</li>
							    	</ul>
								  </div>
								</div>
								<div class="col-md-3 col-md-pull-9 col-sm-4 col-sm-pull-8 col-xs-12 text-left">
									<ul class="ZDmneu">
										<li><a href="javascript:;" id="playlist-add-all"><img src="{% static 'music/img/add.png'%}" alt=""></a></li>
										<li><a href="javascript:;" id="playlist-play-all"><img src="{% static 'music/img/playSmall.png'%}" alt=""></a></li>
										<li><a href=""><img src="{% static 'music/img/downloadWhite.png'%}" alt=""></a></li>
									</ul>
									<p class="size">قیمت کل :</p>
									<p class="size">{{ album.price }}</p>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
							<div class="table-responsive">
							  	<table class="table">
							    	<tbody>
                                    {% for track in tracks %}
							          	<tr>
								            <th class="number" scope="row">{{ forloop.counter }}</th>
								            <td class="track">
								            	<div class="pull-right">
								            		<p>{{ track.name }}</p>
								            	</div>
								            	<div class="pull-left">
								            		<ul class="stars">
                                                        {% if track.rate >= 5 %}
                                                            <li><img src="{% static 'music/img/starFillGray.png'%}" alt=""></li>
                                                        {% else %}
                                                            <li><img src="{% static 'music/img/starEmptyGray.png'%}" alt=""></li>
                                                        {% endif %}
                                                        {% if track.rate >= 4 %}
                                                            <li><img src="{% static 'music/img/starFillGray.png'%}" alt=""></li>
                                                        {% else %}
                                                            <li><img src="{% static 'music/img/starEmptyGray.png'%}" alt=""></li>
                                                        {% endif %}
									    				{% if track.rate >= 3 %}
                                                            <li><img src="{% static 'music/img/starFillGray.png'%}" alt=""></li>
                                                        {% else %}
                                                            <li><img src="{% static 'music/img/starEmptyGray.png'%}" alt=""></li>
                                                        {% endif %}
                                                        {% if track.rate >= 2 %}
                                                            <li><img src="{% static 'music/img/starFillGray.png'%}" alt=""></li>
                                                        {% else %}
                                                            <li><img src="{% static 'music/img/starEmptyGray.png'%}" alt=""></li>
                                                        {% endif %}
                                                        {% if track.rate >= 1 %}
                                                            <li><img src="{% static 'music/img/starFillGray.png'%}" alt=""></li>
                                                        {% else %}
                                                            <li><img src="{% static 'music/img/starEmptyGray.png'%}" alt=""></li>
                                                        {% endif %}
									    			</ul>
								            	</div>
								            	<div class="clear"></div>
								            </td>
								            <td class="items">
								            	<ul class="ZDmneu">
													<li><a href="javascript:;" id="playlist-add-{{ track.id }}"><img src="{% static 'music/img/add.png'%}" alt=""></a></li>
													<li><a href="javascript:;" id="playlist-play-{{ track.id }}"><img src="{% static 'music/img/playSmall.png'%}" alt=""></a></li>
													<li><a href="/music/buy/"><img src="{% static 'music/img/downloadWhite.png'%}" alt=""></a></li>
												</ul>
								            </td>
							          	</tr>
                                    {% endfor %}
							        </tbody>
							  	</table>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding padding-bottom">
							<div class="title">
								<p class="pull-right">
									<span class="fa fa-bars"></span>توضیحات و عوامل
								</p>
								<div class="clear"></div>
							</div>
							<div class="box-body scrollbar" style="max-height:225px; overflow: auto;">
								<p class="description">
									{{ album.description }}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}