{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    تونز -
    {{ artist.name }}
{% endblock %}
{% block playlist %}
    // add tracks
    {% for album in albums %}
        id = "#playlist-add-{{ album.id }}"
        $(id).click(function() {
        myPlaylist.add({
            title:"{{ album.name }}",
            artist:"{% for artist in album.artistID.all %}{{ artist.name }}{% endfor %}",
            free:false,
            mp3:"{{ album.mainTrack.link.url }}",
            poster: "{{ album.thumbImg.url }}"
        });
        myPlaylist.next();
        myPlaylist.pause();
        });
    {% endfor %}

    // play tracks
    {% for album in albums %}
        id = "#playlist-play-{{ album.id }}"
        $(id).click(function() {
        myPlaylist.add({
            title:"{{ album.name }}",
            artist:"{% for artist in album.artistID.all %}{{ artist.name }}{% endfor %}",
            free:false,
            mp3:"{{ album.mainTrack.link.url }}",
            poster: "{{ album.mainTrack.playerImg.url }}"
        });
        myPlaylist.next();
        });
    {% endfor %}
{% endblock %}
{% block section %}
<section class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 cover-bg" style="background: url('{% static 'music/img/up.jpg'%}') no-repeat top center; background-size: 100% 500px; padding:150px 0px 100px 0px; min-height: 500px;">
				<div class="col-md-12 col-sm-12 col-xs-12 artistName">
					<div class="atriststyle">
						<h4 style="font-size: 23px;">{{ artist.name }}</h4>
						<p>{{ artist.title }}</p>
					</div>
				</div>
				<div class="container">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding height300">
							<div class="title">
								<p class="pull-right">
									<span class="fa fa-bars"></span>گالری
								</p>
								<ul class="pull-left ZDmneu">
									<li><a href=""><img src="{% static 'music/img/zoom.png'%}" alt=""></a></li>
								</ul>
								<div class="clear"></div>
							</div>
							<div class="box-body">
								<div class="carousel slide media-carousel" id="media1">
							        <div class="carousel-inner">
                                        {% for poster in posters %}
                                          <div class="item  {% ifequal forloop.first True %}active{% endifequal %}">
                                            <div class="row">
                                              <div class="col-md-12">
                                                <a href="#"><img class="img-responsive" alt="" src="{{ poster.img.url }}"></a>
                                              </div>
                                            </div>
                                          </div>
                                        {% endfor %}
							        </div>
							        <a data-slide="prev" href="#media1" class="left carousel-control"><img src="{% static 'music/img/sliderPrev.png'%}" alt=""></a>
							        <a data-slide="next" href="#media1" class="right carousel-control"><img src="{% static 'music/img/sliderNext.png'%}" alt=""></a>
							    </div>   
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding height200">
							<div class="title">
								<p class="pull-right">
									<span class="fa fa-bars"></span>امکانات مرتبط
								</p>
								<div class="clear"></div>
							</div>
							<div class="box-body">
								<ul class="text-center artistsocial">
									<li><a href="{{ artist.twitter }}"><img src="{% static 'music/img/social (1).png'%}" alt=""></a></li>
									<li><a href="{{ artist.rss }}"><img src="{% static 'music/img/social (2).png'%}" alt=""></a></li>
									<li><a href="{{ artist.facebook }}"><img src="{% static 'music/img/social (3).png'%}" alt=""></a></li>
									<li><a href="{{ artist.youtube }}"><img src="{% static 'music/img/social (4).png'%}" alt=""></a></li>
								</ul>
								<br>

								<ul class="publisher">
							    	<li><a href="{{ artist.website }}">وب سایت شخصی</a></li>
							    	<li><a href="{{ artist.weblog }}">وبلاگ شخصی</a></li>
							    </ul>
							</div>
						</div>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12" style="padding-left:0px;">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding padding-bottom height300">
							<div class="title">
								<p class="pull-right">
									<span class="fa fa-bars"></span>آخرین اخبار
								</p>
								<div class="clear"></div>
							</div>
							<div class="box-body scrollbar" style="max-height:245px; overflow: auto;">
								<p class="description">
									{{ artist.bio }}
								</p>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding padding-bottom height200">
							<div class="title">
								<p class="pull-right">
									<span class="fa fa-bars"></span>آخرین اخبار
								</p>
								<div class="clear"></div>
							</div>
							<div class="box-body scrollbar" style="max-height:245px; overflow: auto;">
								<ul class="publisher">
                                    {% for post in posts %}
                                        <li><a href="post/{{ post.id }}/">{{ post.title }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
							<div class="title">
								<p class="pull-right">
									<span class="fa fa-bars"></span>آثار
								</p>
								<div class="clear"></div>
							</div>
							<div class="box-body">
                                {% for album in albums %}
								    <div class="col-md-3">
					                <div class="thumbnail">
						                <div class="caption">
						                	<br>
						                    <h4>{{ album.name }}</h4>
						                    <p>{% for artist in album.artistID.all %}{{ artist.name }}{% endfor %}</p>
						                    <br>
						                    <ul class="ZDmneu">
												<li><a href="javascript:;" id="playlist-add-{{ album.id }}"><img src="{% static 'music/img/add.png'%}" alt=""></a></li>
												<li><a href="javascript:;" id="playlist-play-{{ album.id }}"><img src="{% static 'music/img/playSmall.png'%}" alt=""></a></li>
												<li><a href=""><img src="{% static 'music/img/downloadWhite.png'%}" alt=""></a></li>
											</ul>
						                </div>
						                <img class="img-responsive" alt="" src="{{ album.thumbImg.url }}">
						            </div>
					            </div> 
                                {% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}