<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}تونز{% endblock %}</title>
    {% load staticfiles %}
	<!--CSS-->
	<!-- <link type="image/x-icon" rel="shortcut icon" href="img/favicon.ico">
	<link type="image/x-icon" rel="icon" href="img/favicon.ico"> -->
	<link type="text/css" rel="stylesheet" href="{% static 'music/css/bootstrap.min.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'music/css/bootstrap-theme.min.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'music/css/style.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'music/css/sinister.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'music/css/font-awesome.min.css' %}">
	<!-- <link type="text/css" rel="stylesheet" href="css/jplayer.blue.monday.css"> -->
	<link type="text/css" rel="stylesheet" href="{% static 'music/css/masterslider.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'music/css/ms-style.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'music/css/ms-homeslider.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'music/css/ms-staff-style.css' %}">
	<!--JS-->
	<script type="text/javascript" src="{% static 'music/js/jquery-2.1.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'music/js/jquery.easing.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'music/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'music/js/jquery.jplayer.js' %}"></script>
	<script type="text/javascript" src="{% static 'music/js/jplayer.playlist.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function(){

            $(".jp-playlistbtn").click(function(){
                $(".displayplaylist").slideToggle();
			});

            $("#close-login").click(function(){
                $("#login-form").slideUp();
			});

            $("#user-img").click(function(){
                $("#login-form").slideToggle();
			});

			var play=0;
			$(".jp-play").click(function(){
                if(play==0){
                    $(".jp-play").css({"background":"url('{% static 'music/img/pause.png' %}')"});
                    play=1;
                }
                else
                {
                    $(".jp-play").css({"background":"url('{% static 'music/img/play.png' %}')"});
                    play=0;
                }
			});

			var mute=0;
			$(".jp-mute").click(function(){
			    if(mute==0)
                {
			        $(".jp-mute").css({"background":"url('{% static 'music/img/mute.png' %}')"});
			        mute=1;
    			}
	    		else
		    	{
			    	$(".jp-mute").css({"background":"url('{% static 'music/img/volume.png' %}')"});
			        mute=0;
			    }
			});

			var myPlaylistWidth=0;
			var displayplaylistWidth=0;
			displayplaylistWidth = $(".displayplaylist").width();
			myPlaylistWidth=displayplaylistWidth-45;
			$(".myPlaylist").css({"width":myPlaylistWidth});
		});
	</script>
	<script type="text/javascript">
		//<![CDATA[
		$(document).ready(function() {

            var myPlaylist = new jPlayerPlaylist({
                jPlayer: "#jquery_jplayer_N",
                cssSelectorAncestor: "#jp_container_N"
            }, [
                {
                    title: "مینا",
                    artist: "محسن چاوشی",
                    mp3: "http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3",
                    poster: "/media/music/album/thumbImg/default.jpg",
                }
            ], {
                playlistOptions: {
                    enableRemoveControls: true
                },
                swfPath: "js/jplayer",
                supplied: "webmv, ogv, m4v, oga, mp3",
                useStateClassSkin: true,
                autoBlur: false,
                smoothPlayBar: true,
                keyEnabled: true,
                audioFullScreen: true
            });

            {% block playlist %}
			// add tracks
            {% for album in most_visited %}
                id = "#playlist-add-{{ album.id }}"
                $(id).click(function() {
				myPlaylist.add({
					title:"{{ album.name }}",
					artist:"{% for artist in album.artistID.all %}{{ artist.name }}{% endfor %}",
					free:false,
					mp3:"{{ album.mainTrack.link.url }}",
					poster: "{{ album.thumbImg.url }}"
				});
                myPlaylist.next();
                myPlaylist.pause();
			    });
            {% endfor %}

            // play tracks
            {% for album in most_visited %}
                id = "#playlist-play-{{ album.id }}"
                $(id).click(function() {
				myPlaylist.add({
					title:"{{ album.name }}",
					artist:"{% for artist in album.artistID.all %}{{ artist.name }}{% endfor %}",
					free:false,
					mp3:"{{ album.mainTrack.link.url }}",
					poster: "{{ album.mainTrack.playerImg }}"
				});
                myPlaylist.next();
			    });
            {% endfor %}
            {% endblock %}
			// The remove commands

			$("#playlist-remove").click(function() {
				myPlaylist.remove();
			});

			$("#playlist-remove--2").click(function() {
				myPlaylist.remove(-2);
			});
			$("#playlist-remove--1").click(function() {
				myPlaylist.remove(-1);
			});
			$("#playlist-remove-0").click(function() {
				myPlaylist.remove(0);
			});
			$("#playlist-remove-1").click(function() {
				myPlaylist.remove(1);
			});
			$("#playlist-remove-2").click(function() {
				myPlaylist.remove(2);
			});

			// The shuffle commands

			$("#playlist-shuffle").click(function() {
				myPlaylist.shuffle();
			});

			$("#playlist-shuffle-false").click(function() {
				myPlaylist.shuffle(false);
			});
			$("#playlist-shuffle-true").click(function() {
				myPlaylist.shuffle(true);
			});

			// The select commands

			$("#playlist-select--2").click(function() {
				myPlaylist.select(-2);
			});
			$("#playlist-select--1").click(function() {
				myPlaylist.select(-1);
			});
			$("#playlist-select-0").click(function() {
				myPlaylist.select(0);
			});
			$("#playlist-select-1").click(function() {
				myPlaylist.select(1);
			});
			$("#playlist-select-2").click(function() {
				myPlaylist.select(2);
			});

			// The next/previous commands

			$("#playlist-next").click(function() {
				myPlaylist.next();
			});
			$("#playlist-previous").click(function() {
				myPlaylist.previous();
			});

			// The play commands

			$("#playlist-play").click(function() {
				myPlaylist.play();
			});

			$("#playlist-play--2").click(function() {
				myPlaylist.play(-2);
			});
			$("#playlist-play--1").click(function() {
				myPlaylist.play(-1);
			});
			$("#playlist-play-0").click(function() {
				myPlaylist.play(0);
			});
			$("#playlist-play-1").click(function() {
				myPlaylist.play(1);
			});
			$("#playlist-play-2").click(function() {
				myPlaylist.play(2);
			});

			// The pause command

			$("#playlist-pause").click(function() {
				myPlaylist.pause();
			});

			// Changing the playlist options

			// Option: autoPlay

			$("#playlist-option-autoPlay-true").click(function() {
				myPlaylist.option("autoPlay", true);
			});
			$("#playlist-option-autoPlay-false").click(function() {
				myPlaylist.option("autoPlay", false);
			});

			// Option: enableRemoveControls

			$("#playlist-option-enableRemoveControls-true").click(function() {
				myPlaylist.option("enableRemoveControls", true);
			});
			$("#playlist-option-enableRemoveControls-false").click(function() {
				myPlaylist.option("enableRemoveControls", false);
			});

			// Option: displayTime

			$("#playlist-option-displayTime-0").click(function() {
				myPlaylist.option("displayTime", 0);
			});
			$("#playlist-option-displayTime-fast").click(function() {
				myPlaylist.option("displayTime", "fast");
			});
			$("#playlist-option-displayTime-slow").click(function() {
				myPlaylist.option("displayTime", "slow");
			});
			$("#playlist-option-displayTime-2000").click(function() {
				myPlaylist.option("displayTime", 2000);
			});

			// Option: addTime

			$("#playlist-option-addTime-0").click(function() {
				myPlaylist.option("addTime", 0);
			});
			$("#playlist-option-addTime-fast").click(function() {
				myPlaylist.option("addTime", "fast");
			});
			$("#playlist-option-addTime-slow").click(function() {
				myPlaylist.option("addTime", "slow");
			});
			$("#playlist-option-addTime-2000").click(function() {
				myPlaylist.option("addTime", 2000);
			});

			// Option: removeTime

			$("#playlist-option-removeTime-0").click(function() {
				myPlaylist.option("removeTime", 0);
			});
			$("#playlist-option-removeTime-fast").click(function() {
				myPlaylist.option("removeTime", "fast");
			});
			$("#playlist-option-removeTime-slow").click(function() {
				myPlaylist.option("removeTime", "slow");
			});
			$("#playlist-option-removeTime-2000").click(function() {
				myPlaylist.option("removeTime", 2000);
			});

			// Option: shuffleTime

			$("#playlist-option-shuffleTime-0").click(function() {
				myPlaylist.option("shuffleTime", 0);
			});
			$("#playlist-option-shuffleTime-fast").click(function() {
				myPlaylist.option("shuffleTime", "fast");
			});
			$("#playlist-option-shuffleTime-slow").click(function() {
				myPlaylist.option("shuffleTime", "slow");
			});
			$("#playlist-option-shuffleTime-2000").click(function() {
				myPlaylist.option("shuffleTime", 2000);
			});

		});
		//]]>
	</script>
</head>
<body>
	<div class="container-fluid"> 
		<nav class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 navBg">
				<div class="container">
					<div class="col-md-1 col-sm-1 col-xs-12 account my-padding">
						<div class="media">
						  	<div class="pull-left">
						    	<a href="#" id="user-img">
						     		<img class="media-object" src="
						     		{% if user %}
						     		    {{ user.profileImg.url }}
						     		{% else %}
						     		    {% static 'music/img/user.png' %}
						     		{% endif %}
						     		" alt="...">
						    	</a>
                                <div id="login-form">
                                    {% if form %}
                                        <form method="post" action="/login/">
                                            {% csrf_token %}
                                            <ul>
                                                <ul class="login-header">
                                                    <li class="login-txt">ورود</li>
                                                    <li id="close-login" class="pull-left"><img src="{% static 'music/img/remove.png' %}"></li>
                                                    <div class="clear"></div>
                                                </ul>
                                                <li>{{ form.username }}</li>
                                                <li>{{ form.password }}</li>
                                                <li class="captcha">{{ form.captcha }}</li>
                                                <li>
                                                    <ul class="login-forget">
                                                        <li class="forget-pass"><a href="">فراموشی کلمه عبور !</a></li>
                                                        <li><input type="submit" value="ورود"></li>
                                                    </ul>
                                                    <div class="clear"></div>
                                                </li>
                                                <li>
                                                    <ul class="error">
                                                        <li><span class="fa fa-times"></span></li>
                                                        <li class="error-txt">رمز عبور یا نام کاربری اشتباه است.</li>
                                                    </ul>
                                                </li>
                                                <li class="register-btn"><a href="">ثبت نام</a></li>
                                            </ul>
                                        </form>
                                    {% else %}
                                        salam {{ user.name }}
                                        <a href="/logout/" type="submit">logout</a>
                                    {% endif %}
                                </div>
						  	</div>
						</div>
					</div>
					<div class="col-md-5 col-sm-5 col-xs-12 player my-padding jp-video jp-video-270p"  id="jp_container_N" role="application" aria-label="media player">
						<div class="jp-type-playlist">
						<!-- <div id="jquery_jplayer_N" class="jp-jplayer"></div> -->
							<div class="jp-gui">

								<div class="jp-interface">
									<div class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12 no-padding">
										<div class="media">
										  	<div class="pull-right">
										    	<div id="jquery_jplayer_N" class="jp-jplayer"></div>
										  	</div>
										  	<div class="media-body detail">
										    	<p><strong class="jp-title"></strong></p>
                                                <br>
                                                <p><span class="jp-duration"></span> - <span class="jp-current-time"></span></p>
										  	</div>
										</div>
									</div>
									<div class="col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6 col-xs-12 no-padding">								
										<div class="jp-controls-holder">
											<div class="jp-controls">
												<button class="jp-playlistbtn" role="button" tabindex="0"></button>
												<button class="jp-mute" role="button" tabindex="0"></button>
												<button class="jp-next" role="button" tabindex="0"></button>
												<button class="jp-play" role="button" tabindex="0"></button>
												<button class="jp-previous" role="button" tabindex="0"></button>
											</div>
										</div>										
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 progress no-padding">
										<div class="jp-progress">
											<div class="jp-seek-bar">
												<div class="jp-play-bar"></div>
											</div>
										</div>										
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 displayplaylist no-padding">
										<div class="jp-playlist">
											<ul>
												<li>&nbsp;</li>
											</ul>
										</div>									
									</div>
								</div>
							</div>
							
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 search my-padding">
						<p>
							<strong>جست و جو</strong> (نام هنرمند، نام آلبوم ، نام قطعه)
						</p>
						<form action="search" method="get">
							<div class="form-group">
							    <input type="text" class="form-control" id="search" placeholder="">
							</div>
						</form>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-12 logo my-padding">
						<img src="{% static 'music/img/logo.png' %}" alt="" class="img-responsive">
					</div>
				</div>
			</div>
		</nav>
		{% block section %}{% endblock %}
		<footer class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 navBg no-padding">
				<div class="container">
					<div class="col-md-3 col-sm-3 col-xs-12 social-icon">
						<a href=""><img class="img-responsive" src="{% static 'music/img/facebook.png' %}" alt=""></a>
						<a href=""><img class="img-responsive" src="{% static 'music/img/twitter.png' %}" alt=""></a>
						<a href=""><img class="img-responsive" src="{% static 'music/img/pinterest.png' %}" alt=""></a>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 footerlinks">
						<ul>
							<li><a href="">راهنما</a></li>
							<li><a>|</a></li>
							<li><a href="">درباه ما</a></li>
							<li><a>|</a></li>
							<li><a href="">تماس با ما</a></li>
							<li><a>|</a></li>
							<li><a href="">همکاری ناشران</a></li>
							<li><a>|</a></li>
							<li><a href="">پشتیبانی</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 copyright">
						<div class="media">
							<div class="pull-right" style="padding-left:15px;">
							    <a href="#">
							      	<img class="media-object img-responsive" src="{% static 'music/img/2_03.png' %}" alt="...">
							    </a>
							</div>
							<div class="media-body">
							    <p style="padding:10px 0px 5px 0px;">ایجاد شده در : </p>
							    <a href="http://gereh.ir/">
							      	<img class="img-responsive" src="{% static 'music/img/gereh.png' %}" alt="...">
							    </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script type="text/javascript" src="{% static 'music/js/masterslider.js' %}"></script>
	<script type="text/javascript" src="{% static 'music/js/app.js' %}"></script>
	<script>
		$("#next").click(function() {
		  var nextElement = $('#mycars > option:selected').next('option');
		  if (nextElement.length > 0) {
		    $('#mycars > option:selected').removeAttr('selected').next('option').attr('selected', 'selected');
		  }
		});

		$("#prev").click(function() {
		  var nextElement = $('#mycars > option:selected').prev('option');
		  if (nextElement.length > 0) {
		    $('#mycars > option:selected').removeAttr('selected').prev('option').attr('selected', 'selected');
		  }
		});
	</script>
	<script>
		$("#next1").click(function() {
		  var nextElement = $('#mycars1 > option:selected').next('option');
		  if (nextElement.length > 0) {
		    $('#mycars1 > option:selected').removeAttr('selected').next('option').attr('selected', 'selected');
		  }
		});

		$("#prev1").click(function() {
		  var nextElement = $('#mycars1 > option:selected').prev('option');
		  if (nextElement.length > 0) {
		    $('#mycars1 > option:selected').removeAttr('selected').prev('option').attr('selected', 'selected');
		  }
		});
	</script>
</body>
</html>