{% extends "base.html" %}
{% load staticfiles %}
{% block title %}تونز - صفحه نخست{% endblock %}
{% block playlist %}
    // add tracks
    {% for album in most_visited %}
        id = "#playlist-add-{{ album.id }}"
        $(id).click(function() {
        myPlaylist.add({
            title:"{{ album.name }}",
            artist:"{% for artist in album.artistID.all %}{{ artist.name }}{% endfor %}",
            free:false,
            mp3:"{{ album.mainTrack.link.url }}",
            poster: "{{ album.thumbImg.url }}"
        });
        myPlaylist.next();
        myPlaylist.pause();
        });
    {% endfor %}

    // play tracks
    {% for album in most_visited %}
        id = "#playlist-play-{{ album.id }}"
        $(id).click(function() {
        myPlaylist.add({
            title:"{{ album.name }}",
            artist:"{% for artist in album.artistID.all %}{{ artist.name }}{% endfor %}",
            free:false,
            mp3:"{{ album.mainTrack.link.url }}",
            poster: "{{ album.mainTrack.playerImg.url }}"
        });
        myPlaylist.next();
        });
    {% endfor %}
{% endblock %}
{% block section %}
<section class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="container">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="ms-staff-carousel">
							<!-- masterslider -->
							<div class="master-slider" id="ms-services-1">
                                {% for slide in slider %}
                                    <div class="ms-slide">
                                        <img src="{% static 'music/css/ms-img/blank.gif' %}" data-src="{{ slide.sliderImg.url }}" alt="lorem ipsum dolor sit"/>
                                        <div class="ms-info">
                                            <div class="media">
                                              <div class="pull-right">
                                                <img class="imgpadding" src="{% static 'music/img/folder.png' %}" alt="">
                                              </div>
                                              <div class="media-body text-right">
                                                <h4>{{ slide.name }}</h4>
                                                <p>
                                                  {% for artist in slide.artistID.all %}
                                                    {{ artist.name }}&nbsp;
                                                  {% endfor %}
                                                </p>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
							</div>
							<!-- end of masterslider -->
							<div class="ms-staff-info" id="staff-info-services-1"> </div>
						</div>
					</div>
					
					<div class="col-md-12 col-sm-12 col-xs-12 text-center arrow">
                        <a href="#advertises">
						    <img src="{% static 'music/img/bottom.png' %}" alt="">
                        </a>
					</div>
                    <div class="col-md-12 col-sm-12 col-xs-12 cover" id="advertises">
                    {% for adv in advertises %}
                        <img class="img-responsive" src="{{ adv.img.url }}" alt="">
                    {% endfor %}
                    </div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="title">
							<p class="pull-right">
								<span class="fa fa-bars"></span>محبوب ترین ها
							</p>

							<div class="clear"></div>
						</div>
						<div class="box-body">
							<div class="carousel slide media-carousel" id="media">
						        <div class="carousel-inner">
						            {% for myAlbum in most_visited %}
                                        {% ifequal forloop.first True %}
                                            <div class="item  active">
                                                <div class="row">

                                        {% else %}
                                            {% ifequal forloop.counter0|divisibleby:"4" True %}
                                                </div>
                                                </div>
                                                <div class="item">
						                        <div class="row">
                                            {% endifequal %}
                                        {% endifequal %}

                                        <div class="col-md-3">
                                            <div class="thumbnail">
                                                <div class="caption">
                                                    <br>
                                                    <h4>{{ myAlbum.name }}</h4>
                                                    <p>
                                                        {% for artist in myAlbum.artistID.all %}
                                                            {{ artist.name }}&nbsp;
                                                        {% endfor %}
                                                    </p>
                                                    <br>
                                                    <ul class="ZDmneu">
                                                            <li><a href="javascript:;" id="playlist-add-{{ myAlbum.id }}"><img src="{% static 'music/img/add.png' %}" alt=""></a></li>
                                                        <li><a href="javascript:;" id="playlist-play-{{ myAlbum.id }}"><img src="{% static 'music/img/playSmall.png' %}" alt=""></a></li>
                                                        <li><a href=""><img src="{% static 'music/img/downloadWhite.png' %}" alt=""></a></li>
                                                    </ul>
                                                </div>
                                                <img class="img-responsive" alt="" src="{{myAlbum.thumbImg.url}}">
                                            </div>
                                        </div>

                                        {% ifequal forloop.revcounter0 0 %}
                                            </div>
                                            </div>
                                        {% endifequal %}
                                    {% endfor %}
						        </div>
						        <a data-slide="prev" href="#media" class="left carousel-control"><img src="{% static 'music/img/sliderPrev.png' %}" alt=""></a>
						        <a data-slide="next" href="#media" class="right carousel-control"><img src="{% static 'music/img/sliderNext.png' %}" alt=""></a>
						      </div>   
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="title">
							<p class="pull-right">
								<span class="fa fa-bars"></span>پرفروش ترین ها
							</p>

							<div class="clear"></div>
						</div>
						<div class="box-body">
							<div class="carousel slide media-carousel" id="media1">
						        <div class="carousel-inner">
						          {% for myAlbum in most_downloaded %}
                                        {% ifequal forloop.first True %}
                                            <div class="item  active">
                                                <div class="row">

                                        {% else %}
                                            {% ifequal forloop.counter0|divisibleby:"4" True %}
                                                </div>
                                                </div>
                                                <div class="item">
						                        <div class="row">
                                            {% endifequal %}
                                        {% endifequal %}

                                        <div class="col-md-3">
                                            <div class="thumbnail">
                                                <div class="caption">
                                                    <br>
                                                    <h4>{{ myAlbum.name }}</h4>
                                                    <p>
                                                        {% for artist in myAlbum.artistID.all %}
                                                            {{ artist.name }}&nbsp;
                                                        {% endfor %}
                                                    </p>
                                                    <br>
                                                    <ul class="ZDmneu">
                                                        <li><a href=""><img src="{% static 'music/img/add.png' %}" alt=""></a></li>
                                                        <li><a href=""><img src="{% static 'music/img/playSmall.png' %}" alt=""></a></li>
                                                        <li><a href=""><img src="{% static 'music/img/downloadWhite.png' %}" alt=""></a></li>
                                                    </ul>
                                                </div>
                                                <img class="img-responsive" alt="" src="{{ myAlbum.thumbImg.url }}">
                                            </div>
                                        </div>

                                        {% ifequal forloop.revcounter0 0 %}
                                            </div>
                                            </div>
                                        {% endifequal %}
                                    {% endfor %}
						        </div>
						        <a data-slide="prev" href="#media1" class="left carousel-control"><img src="{% static 'music/img/sliderPrev.png' %}" alt=""></a>
						        <a data-slide="next" href="#media1" class="right carousel-control"><img src="{% static 'music/img/sliderNext.png' %}" alt=""></a>
						      </div>   
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}