<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>تونز</title>
    {% load staticfiles %}
	<!--CSS-->
	<!-- <link type="image/x-icon" rel="shortcut icon" href="img/favicon.ico">
	<link type="image/x-icon" rel="icon" href="img/favicon.ico"> -->
	<link type="text/css" rel="stylesheet" href="{% static 'music/css/bootstrap.min.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'music/css/bootstrap-theme.min.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'music/css/style.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'music/css/sinister.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'music/css/font-awesome.min.css' %}">
	<!-- <link type="text/css" rel="stylesheet" href="css/jplayer.blue.monday.css"> -->
	<link type="text/css" rel="stylesheet" href="{% static 'music/css/masterslider.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'music/css/ms-style.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'music/css/ms-homeslider.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'music/css/ms-staff-style.css' %}">
	<!--JS-->
	<script type="text/javascript" src="{% static 'music/js/jquery-2.1.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'music/js/jquery.easing.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'music/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'music/js/jquery.jplayer.js' %}"></script>
	<script type="text/javascript" src="{% static 'music/js/jplayer.playlist.js' %}"></script>
	<script type="text/javascript">
	// 	$(document).ready(function() {
	// 	  $('#media').carousel({
	// 	    pause: true,
	// 	    interval: false,
	// 	  });
	// 	});
	// </script>
	<script type="text/javascript">
		$(document).ready(function(){
			
			$(".jp-playlistbtn").click(function(){
			    $(".displayplaylist").slideToggle();
			});
			var play=0;
			$(".jp-play").click(function(){
			if(play==0){
			$(".jp-play").css({"background":"url('{% static 'music/img/pause.png' %}')"});
			play=1;
			}
			else
			{
				$(".jp-play").css({"background":"url('{% static 'music/img/play.png' %}')"});
			play=0;
			}
			});


			var mute=0;
			$(".jp-mute").click(function(){
			if(mute==0){
			$(".jp-mute").css({"background":"url('{% static 'music/img/mute.png' %}')"});
			mute=1;
			}
			else
			{
				$(".jp-mute").css({"background":"url('{% static 'music/img/volume.png' %}')"});
			mute=0;
			}
			});

			var myPlaylistWidth=0;
			var displayplaylistWidth=0;
			displayplaylistWidth = $(".displayplaylist").width();
			myPlaylistWidth=displayplaylistWidth-45;
			$(".myPlaylist").css({"width":myPlaylistWidth});
		});
	</script>
	<script type="text/javascript">
		//<![CDATA[
		$(document).ready(function(){

			var myPlaylist = new jPlayerPlaylist({
				jPlayer: "#jquery_jplayer_N",
				cssSelectorAncestor: "#jp_container_N"
			}, [
				{
					title:"مینا",
					artist:"محسن چاوشی",
					mp3:"http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3",
					oga:"http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg",
					poster: "http://www.jplayer.org/audio/poster/The_Stark_Palace_640x360.png"
				}
			], {
				playlistOptions: {
					enableRemoveControls: true
				},
				swfPath: "js/jplayer",
				supplied: "webmv, ogv, m4v, oga, mp3",
				useStateClassSkin: true,
				autoBlur: false,
				smoothPlayBar: true,
				keyEnabled: true,
				audioFullScreen: true
			});

			// Click handlers for jPlayerPlaylist method demo

			// Audio mix playlist

			$("#playlist-setPlaylist-audio-mix").click(function() {
				myPlaylist.setPlaylist([
					{
						title:"Cro Magnon Man",
						artist:"The Stark Palace",
						mp3:"http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3",
						oga:"http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg",
						poster: "http://www.jplayer.org/audio/poster/The_Stark_Palace_640x360.png"
					},
					{
						title:"Your Face",
						artist:"The Stark Palace",
						mp3:"http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3",
						oga:"http://www.jplayer.org/audio/ogg/TSP-05-Your_face.ogg",
						poster: "http://www.jplayer.org/audio/poster/The_Stark_Palace_640x360.png"
					},
					{
						title:"Hidden",
						artist:"Miaow",
						free: true,
						mp3:"http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3",
						oga:"http://www.jplayer.org/audio/ogg/Miaow-02-Hidden.ogg",
						poster: "http://www.jplayer.org/audio/poster/Miaow_640x360.png"
					},
					{
						title:"Cyber Sonnet",
						artist:"The Stark Palace",
						mp3:"http://www.jplayer.org/audio/mp3/TSP-07-Cybersonnet.mp3",
						oga:"http://www.jplayer.org/audio/ogg/TSP-07-Cybersonnet.ogg",
						poster: "http://www.jplayer.org/audio/poster/The_Stark_Palace_640x360.png"
					},
					{
						title:"Tempered Song",
						artist:"Miaow",
						mp3:"http://www.jplayer.org/audio/mp3/Miaow-01-Tempered-song.mp3",
						oga:"http://www.jplayer.org/audio/ogg/Miaow-01-Tempered-song.ogg",
						poster: "http://www.jplayer.org/audio/poster/Miaow_640x360.png"
					},
					{
						title:"Lentement",
						artist:"Miaow",
						mp3:"http://www.jplayer.org/audio/mp3/Miaow-03-Lentement.mp3",
						oga:"http://www.jplayer.org/audio/ogg/Miaow-03-Lentement.ogg",
						poster: "http://www.jplayer.org/audio/poster/Miaow_640x360.png"
					}
				]);
			});

			// Video mix playlist

			$("#playlist-setPlaylist-video-mix").click(function() {
				myPlaylist.setPlaylist([
					{
						title:"Big Buck Bunny Trailer",
						artist:"Blender Foundation",
						m4v:"http://www.jplayer.org/video/m4v/Big_Buck_Bunny_Trailer.m4v",
						ogv:"http://www.jplayer.org/video/ogv/Big_Buck_Bunny_Trailer.ogv",
						webmv: "http://www.jplayer.org/video/webm/Big_Buck_Bunny_Trailer.webm",
						poster:"http://www.jplayer.org/video/poster/Big_Buck_Bunny_Trailer_480x270.png"
					},
					{
						title:"Finding Nemo Teaser",
						artist:"Pixar",
						m4v: "http://www.jplayer.org/video/m4v/Finding_Nemo_Teaser.m4v",
						ogv: "http://www.jplayer.org/video/ogv/Finding_Nemo_Teaser.ogv",
						webmv: "http://www.jplayer.org/video/webm/Finding_Nemo_Teaser.webm",
						poster: "http://www.jplayer.org/video/poster/Finding_Nemo_Teaser_640x352.png"
					},
					{
						title:"Incredibles Teaser",
						artist:"Pixar",
						m4v: "http://www.jplayer.org/video/m4v/Incredibles_Teaser.m4v",
						ogv: "http://www.jplayer.org/video/ogv/Incredibles_Teaser.ogv",
						webmv: "http://www.jplayer.org/video/webm/Incredibles_Teaser.webm",
						poster: "http://www.jplayer.org/video/poster/Incredibles_Teaser_640x272.png"
					}
				]);
			});

			// Media mix playlist

			$("#playlist-setPlaylist-media-mix").click(function() {
				myPlaylist.setPlaylist([
					{
						title:"Cro Magnon Man",
						artist:"The Stark Palace",
						mp3:"http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3",
						oga:"http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg",
						poster: "http://www.jplayer.org/audio/poster/The_Stark_Palace_640x360.png"
					},
					{
						title:"Your Face",
						artist:"The Stark Palace",
						mp3:"http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3",
						oga:"http://www.jplayer.org/audio/ogg/TSP-05-Your_face.ogg",
						poster: "http://www.jplayer.org/audio/poster/The_Stark_Palace_640x360.png"
					},
					{
						title:"Hidden",
						artist:"Miaow",
						free: true,
						mp3:"http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3",
						oga:"http://www.jplayer.org/audio/ogg/Miaow-02-Hidden.ogg",
						poster: "http://www.jplayer.org/audio/poster/Miaow_640x360.png"
					},
					{
						title:"Big Buck Bunny Trailer",
						artist:"Blender Foundation",
						m4v:"http://www.jplayer.org/video/m4v/Big_Buck_Bunny_Trailer.m4v",
						ogv:"http://www.jplayer.org/video/ogv/Big_Buck_Bunny_Trailer.ogv",
						webmv: "http://www.jplayer.org/video/webm/Big_Buck_Bunny_Trailer.webm",
						poster:"http://www.jplayer.org/video/poster/Big_Buck_Bunny_Trailer_480x270.png"
					},
					{
						title:"Finding Nemo Teaser",
						artist:"Pixar",
						m4v: "http://www.jplayer.org/video/m4v/Finding_Nemo_Teaser.m4v",
						ogv: "http://www.jplayer.org/video/ogv/Finding_Nemo_Teaser.ogv",
						webmv: "http://www.jplayer.org/video/webm/Finding_Nemo_Teaser.webm",
						poster: "http://www.jplayer.org/video/poster/Finding_Nemo_Teaser_640x352.png"
					},
					{
						title:"Cyber Sonnet",
						artist:"The Stark Palace",
						mp3:"http://www.jplayer.org/audio/mp3/TSP-07-Cybersonnet.mp3",
						oga:"http://www.jplayer.org/audio/ogg/TSP-07-Cybersonnet.ogg",
						poster: "http://www.jplayer.org/audio/poster/The_Stark_Palace_640x360.png"
					},
					{
						title:"Incredibles Teaser",
						artist:"Pixar",
						m4v: "http://www.jplayer.org/video/m4v/Incredibles_Teaser.m4v",
						ogv: "http://www.jplayer.org/video/ogv/Incredibles_Teaser.ogv",
						webmv: "http://www.jplayer.org/video/webm/Incredibles_Teaser.webm",
						poster: "http://www.jplayer.org/video/poster/Incredibles_Teaser_640x272.png"
					},
					{
						title:"Tempered Song",
						artist:"Miaow",
						mp3:"http://www.jplayer.org/audio/mp3/Miaow-01-Tempered-song.mp3",
						oga:"http://www.jplayer.org/audio/ogg/Miaow-01-Tempered-song.ogg",
						poster: "http://www.jplayer.org/audio/poster/Miaow_640x360.png"
					},
					{
						title:"Lentement",
						artist:"Miaow",
						mp3:"http://www.jplayer.org/audio/mp3/Miaow-03-Lentement.mp3",
						oga:"http://www.jplayer.org/audio/ogg/Miaow-03-Lentement.ogg",
						poster: "http://www.jplayer.org/audio/poster/Miaow_640x360.png"
					}
				]);
			});

			// Miaow tracks

			$("#playlist-add-bubble").click(function() {
				myPlaylist.add({
					title:"Bubble",
					artist:"Miaow",
					free:true,
					mp3:"http://www.jplayer.org/audio/mp3/Miaow-07-Bubble.mp3",
					oga:"http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg",
					poster: "http://www.jplayer.org/audio/poster/Miaow_640x360.png"
				});
			});

			$("#playlist-add-hidden").click(function() {
				myPlaylist.add({
					title:"Hidden",
					artist:"Miaow",
					free: true,
					mp3:"http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3",
					oga:"http://www.jplayer.org/audio/ogg/Miaow-02-Hidden.ogg",
					poster: "http://www.jplayer.org/audio/poster/Miaow_640x360.png"
				});
			});

			$("#playlist-add-tempered-song").click(function() {
				myPlaylist.add({
					title:"Tempered Song",
					artist:"Miaow",
					mp3:"http://www.jplayer.org/audio/mp3/Miaow-01-Tempered-song.mp3",
					oga:"http://www.jplayer.org/audio/ogg/Miaow-01-Tempered-song.ogg",
					poster: "http://www.jplayer.org/audio/poster/Miaow_640x360.png"
				});
			});

			$("#playlist-add-lentement").click(function() {
				myPlaylist.add({
					title:"Lentement",
					artist:"Miaow",
					mp3:"http://www.jplayer.org/audio/mp3/Miaow-03-Lentement.mp3",
					oga:"http://www.jplayer.org/audio/ogg/Miaow-03-Lentement.ogg",
					poster: "http://www.jplayer.org/audio/poster/Miaow_640x360.png"
				});
			});

			// The Stark Palace tracks

			$("#playlist-add-cro-magnon-man").click(function() {
				myPlaylist.add({
					title:"Cro Magnon Man",
					artist:"The Stark Palace",
					mp3:"http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3",
					oga:"http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg",
					poster: "http://www.jplayer.org/audio/poster/The_Stark_Palace_640x360.png"
				});
			});

			$("#playlist-add-your-face").click(function() {
				myPlaylist.add({
					title:"Your Face",
					artist:"The Stark Palace",
					mp3:"http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3",
					oga:"http://www.jplayer.org/audio/ogg/TSP-05-Your_face.ogg",
					poster: "http://www.jplayer.org/audio/poster/The_Stark_Palace_640x360.png"
				});
			});

			$("#playlist-add-cyber-sonnet").click(function() {
				myPlaylist.add({
					title:"Cyber Sonnet",
					artist:"The Stark Palace",
					mp3:"http://www.jplayer.org/audio/mp3/TSP-07-Cybersonnet.mp3",
					oga:"http://www.jplayer.org/audio/ogg/TSP-07-Cybersonnet.ogg",
					poster: "http://www.jplayer.org/audio/poster/The_Stark_Palace_640x360.png"
				});
			});

			// Videos

			$("#playlist-add-big-buck-bunny").click(function() {
				myPlaylist.add({
					title:"Big Buck Bunny Trailer",
					artist:"Blender Foundation",
					m4v:"http://www.jplayer.org/video/m4v/Big_Buck_Bunny_Trailer.m4v",
					ogv:"http://www.jplayer.org/video/ogv/Big_Buck_Bunny_Trailer.ogv",
					webmv: "http://www.jplayer.org/video/webm/Big_Buck_Bunny_Trailer.webm",
					poster:"http://www.jplayer.org/video/poster/Big_Buck_Bunny_Trailer_480x270.png"
				});
			});

			$("#playlist-add-finding-nemo").click(function() {
				myPlaylist.add({
					title:"Finding Nemo Teaser",
					artist:"Pixar",
					m4v: "http://www.jplayer.org/video/m4v/Finding_Nemo_Teaser.m4v",
					ogv: "http://www.jplayer.org/video/ogv/Finding_Nemo_Teaser.ogv",
					webmv: "http://www.jplayer.org/video/webm/Finding_Nemo_Teaser.webm",
					poster: "http://www.jplayer.org/video/poster/Finding_Nemo_Teaser_640x352.png"
				});
			});

			$("#playlist-add-incredibles").click(function() {
				myPlaylist.add({
					title:"Incredibles Teaser",
					artist:"Pixar",
					m4v: "http://www.jplayer.org/video/m4v/Incredibles_Teaser.m4v",
					ogv: "http://www.jplayer.org/video/ogv/Incredibles_Teaser.ogv",
					webmv: "http://www.jplayer.org/video/webm/Incredibles_Teaser.webm",
					poster: "http://www.jplayer.org/video/poster/Incredibles_Teaser_640x272.png"
				});
			});

			// The remove commands

			$("#playlist-remove").click(function() {
				myPlaylist.remove();
			});

			$("#playlist-remove--2").click(function() {
				myPlaylist.remove(-2);
			});
			$("#playlist-remove--1").click(function() {
				myPlaylist.remove(-1);
			});
			$("#playlist-remove-0").click(function() {
				myPlaylist.remove(0);
			});
			$("#playlist-remove-1").click(function() {
				myPlaylist.remove(1);
			});
			$("#playlist-remove-2").click(function() {
				myPlaylist.remove(2);
			});

			// The shuffle commands

			$("#playlist-shuffle").click(function() {
				myPlaylist.shuffle();
			});

			$("#playlist-shuffle-false").click(function() {
				myPlaylist.shuffle(false);
			});
			$("#playlist-shuffle-true").click(function() {
				myPlaylist.shuffle(true);
			});

			// The select commands

			$("#playlist-select--2").click(function() {
				myPlaylist.select(-2);
			});
			$("#playlist-select--1").click(function() {
				myPlaylist.select(-1);
			});
			$("#playlist-select-0").click(function() {
				myPlaylist.select(0);
			});
			$("#playlist-select-1").click(function() {
				myPlaylist.select(1);
			});
			$("#playlist-select-2").click(function() {
				myPlaylist.select(2);
			});

			// The next/previous commands

			$("#playlist-next").click(function() {
				myPlaylist.next();
			});
			$("#playlist-previous").click(function() {
				myPlaylist.previous();
			});

			// The play commands

			$("#playlist-play").click(function() {
				myPlaylist.play();
			});

			$("#playlist-play--2").click(function() {
				myPlaylist.play(-2);
			});
			$("#playlist-play--1").click(function() {
				myPlaylist.play(-1);
			});
			$("#playlist-play-0").click(function() {
				myPlaylist.play(0);
			});
			$("#playlist-play-1").click(function() {
				myPlaylist.play(1);
			});
			$("#playlist-play-2").click(function() {
				myPlaylist.play(2);
			});

			// The pause command

			$("#playlist-pause").click(function() {
				myPlaylist.pause();
			});

			// Changing the playlist options

			// Option: autoPlay

			$("#playlist-option-autoPlay-true").click(function() {
				myPlaylist.option("autoPlay", true);
			});
			$("#playlist-option-autoPlay-false").click(function() {
				myPlaylist.option("autoPlay", false);
			});

			// Option: enableRemoveControls

			$("#playlist-option-enableRemoveControls-true").click(function() {
				myPlaylist.option("enableRemoveControls", true);
			});
			$("#playlist-option-enableRemoveControls-false").click(function() {
				myPlaylist.option("enableRemoveControls", false);
			});

			// Option: displayTime

			$("#playlist-option-displayTime-0").click(function() {
				myPlaylist.option("displayTime", 0);
			});
			$("#playlist-option-displayTime-fast").click(function() {
				myPlaylist.option("displayTime", "fast");
			});
			$("#playlist-option-displayTime-slow").click(function() {
				myPlaylist.option("displayTime", "slow");
			});
			$("#playlist-option-displayTime-2000").click(function() {
				myPlaylist.option("displayTime", 2000);
			});

			// Option: addTime

			$("#playlist-option-addTime-0").click(function() {
				myPlaylist.option("addTime", 0);
			});
			$("#playlist-option-addTime-fast").click(function() {
				myPlaylist.option("addTime", "fast");
			});
			$("#playlist-option-addTime-slow").click(function() {
				myPlaylist.option("addTime", "slow");
			});
			$("#playlist-option-addTime-2000").click(function() {
				myPlaylist.option("addTime", 2000);
			});

			// Option: removeTime

			$("#playlist-option-removeTime-0").click(function() {
				myPlaylist.option("removeTime", 0);
			});
			$("#playlist-option-removeTime-fast").click(function() {
				myPlaylist.option("removeTime", "fast");
			});
			$("#playlist-option-removeTime-slow").click(function() {
				myPlaylist.option("removeTime", "slow");
			});
			$("#playlist-option-removeTime-2000").click(function() {
				myPlaylist.option("removeTime", 2000);
			});

			// Option: shuffleTime

			$("#playlist-option-shuffleTime-0").click(function() {
				myPlaylist.option("shuffleTime", 0);
			});
			$("#playlist-option-shuffleTime-fast").click(function() {
				myPlaylist.option("shuffleTime", "fast");
			});
			$("#playlist-option-shuffleTime-slow").click(function() {
				myPlaylist.option("shuffleTime", "slow");
			});
			$("#playlist-option-shuffleTime-2000").click(function() {
				myPlaylist.option("shuffleTime", 2000);
			});

			// Equivalent commands

			$("#playlist-equivalent-1-a").click(function() {
				myPlaylist.add({
					title:"Your Face",
					artist:"The Stark Palace",
					mp3:"http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3",
					oga:"http://www.jplayer.org/audio/ogg/TSP-05-Your_face.ogg",
					poster: "http://www.jplayer.org/audio/poster/The_Stark_Palace_640x360.png"
				}, true);
			});

			$("#playlist-equivalent-1-b").click(function() {
				myPlaylist.add({
					title:"Your Face",
					artist:"The Stark Palace",
					mp3:"http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3",
					oga:"http://www.jplayer.org/audio/ogg/TSP-05-Your_face.ogg",
					poster: "http://www.jplayer.org/audio/poster/The_Stark_Palace_640x360.png"
				});
				myPlaylist.play(-1);
			});

			// AVOID COMMANDS

			$("#playlist-avoid-1").click(function() {
				myPlaylist.remove(2); // Removes the 3rd item
				myPlaylist.remove(3); // Ignored unless removeTime=0: Where it removes the 4th item, which was originally the 5th item.
			});


		});
		//]]>
	</script>
</head>
<body>
	<div class="container-fluid"> 
		<nav class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 navBg">
				<div class="container">
					<div class="col-md-1 col-sm-1 col-xs-12 account my-padding">
						<div class="media">
						  	<div class="pull-left">
						    	<a href="#">
						     		<img class="media-object" src="{% static 'music/img/user.png' %}" alt="...">
						    	</a>
						  	</div>
						</div>
					</div>
					<div class="col-md-5 col-sm-5 col-xs-12 player my-padding jp-video jp-video-270p"  id="jp_container_N" role="application" aria-label="media player">
						<div class="jp-type-playlist">
						<!-- <div id="jquery_jplayer_N" class="jp-jplayer"></div> -->
							<div class="jp-gui">
								<div class="jp-video-play">
									<button class="jp-video-play-icon" role="button" tabindex="0">play</button>
								</div>
								<div class="jp-interface">
									<div class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12 no-padding">
										<div class="media">
										  	<div class="pull-right">
										    	<div id="jquery_jplayer_N" class="jp-jplayer"></div>
										  	</div>
										  	<div class="media-body detail">
										    	<p><strong>مینا</strong></p>
										    	<marquee onmouseenter="this.stop();" onmouseleave="this.start();" direction="right">
										    		<ul>
											    		<li>محسن</li>
											    		<li>|</li>
											    		<li>پاپ</li>
											    		<li>|</li>
											    		<li>تک آهنگ</li>
											    	</ul>
										    	</marquee>
										    	
										  	</div>
										</div>
									</div>
									<div class="col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6 col-xs-12 no-padding">								
										<div class="jp-controls-holder">
											<div class="jp-controls">
												<button class="jp-playlistbtn" role="button" tabindex="0"></button>
												<button class="jp-mute" role="button" tabindex="0"></button>
												<button class="jp-next" role="button" tabindex="0"></button>
												<button class="jp-play" role="button" tabindex="0"></button>
												<button class="jp-previous" role="button" tabindex="0"></button>
											</div>
										</div>										
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 progress no-padding">
										<div class="jp-progress">
											<div class="jp-seek-bar">
												<div class="jp-play-bar"></div>
											</div>
										</div>										
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 displayplaylist no-padding">
										<div class="jp-playlist">
											<ul>
												<li>&nbsp;</li>
											</ul>
										</div>									
									</div>
								</div>
							</div>
							
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 search my-padding">
						<p>
							<strong>جست و جو</strong> (نام هنرمند، نام آلبوم ، نام قطعه)
						</p>
						<form action="">
							<div class="form-group">
							    <input type="text" class="form-control" id="search" placeholder="">
							</div>
						</form>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-12 logo my-padding">
						<img src="{% static 'music/img/logo.png' %}" alt="" class="img-responsive">
					</div>
				</div>
			</div>
		</nav>
		<section class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="container">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="ms-staff-carousel">
							<!-- masterslider -->
							<div class="master-slider" id="ms-services-1">
                                {% for slide in slider %}
                                    <div class="ms-slide">
                                        <img src="{% static 'music/css/ms-img/blank.gif' %}" data-src="{% static 'music/img/ms1.png' %}" alt="lorem ipsum dolor sit"/>
                                        <div class="ms-info">
                                            <div class="media">
                                              <div class="pull-right">
                                                <img class="imgpadding" src="{% static 'music/img/folder.png' %}" alt="">
                                              </div>
                                              <div class="media-body text-right">
                                                <h4>{{ slide.name }}</h4>
                                                <p>
                                                  {% for artist in slide.artistID.all %}
                                                    {{ artist.name }}&nbsp;
                                                  {% endfor %}
                                                </p>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
							</div>
							<!-- end of masterslider -->
							<div class="ms-staff-info" id="staff-info-services-1"> </div>
						</div>
					</div>
					
					<div class="col-md-12 col-sm-12 col-xs-12 text-center arrow">
						<img src="{% static 'music/img/bottom.png' %}" alt="">
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 cover">
						<img class="img-responsive" src="{% static 'music/img/cover.png' %}" alt="">
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="title">
							<p class="pull-right">
								<span class="fa fa-bars"></span>پرفروش ترین ها
							</p>
							<div class="pull-left">
								<button type="button" id="next"><span class="fa fa-chevron-right"></span></button>
								<select class="selector" id="mycars">
								   <option value="volvo">Volvo</option>
								   <option value="saab">Saab</option>
								   <option value="mercedes">Mercedes</option>
								   <option value="audi">Audi</option>
								</select>
								<button type="button" id="prev"><span class="fa fa-chevron-left"></span></button>
							</div>
							<div class="clear"></div>
						</div>
						<div class="box-body">
							<div class="carousel slide media-carousel" id="media">
						        <div class="carousel-inner">
						            {% for myAlbum in albums %}
                                        {% ifequal forloop.first True %}
                                            <div class="item  active">
                                                <div class="row">

                                        {% else %}
                                            {% ifequal forloop.counter0|divisibleby:"4" True %}
                                                </div>
                                                </div>
                                                <div class="item">
						                        <div class="row">
                                            {% endifequal %}
                                        {% endifequal %}

                                        <div class="col-md-3">
                                            <div class="thumbnail">
                                                <div class="caption">
                                                    <br>
                                                    <h4>{{ myAlbum.name }}</h4>
                                                    <p>
                                                        {% for artist in myAlbum.artistID.all %}
                                                            {{ artist.name }}&nbsp;
                                                        {% endfor %}
                                                    </p>
                                                    <br>
                                                    <ul class="ZDmneu">
                                                        <li><a href=""><img src="{% static 'music/img/add.png' %}" alt=""></a></li>
                                                        <li><a href=""><img src="{% static 'music/img/playSmall.png' %}" alt=""></a></li>
                                                        <li><a href=""><img src="{% static 'music/img/downloadWhite.png' %}" alt=""></a></li>
                                                    </ul>
                                                </div>
                                                <img class="img-responsive" alt="" src="{% static 'music/img/slider.png' %}">
                                            </div>
                                        </div>

                                        {% ifequal forloop.revcounter0 0 %}
                                            </div>
                                            </div>
                                        {% endifequal %}
                                    {% endfor %}
						        </div>
						        <a data-slide="prev" href="#media" class="left carousel-control"><img src="{% static 'music/img/sliderPrev.png' %}" alt=""></a>
						        <a data-slide="next" href="#media" class="right carousel-control"><img src="{% static 'music/img/sliderNext.png' %}" alt=""></a>
						      </div>   
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="title">
							<p class="pull-right">
								<span class="fa fa-bars"></span>پرفروش ترین ها
							</p>
							<div class="pull-left">
								<button type="button" id="next1"><span class="fa fa-chevron-right"></span></button>
								<select class="selector" id="mycars1">
								   <option value="volvo">Volvo</option>
								   <option value="saab">Saab</option>
								   <option value="mercedes">Mercedes</option>
								   <option value="audi">Audi</option>
								</select>
								<button type="button" id="prev1"><span class="fa fa-chevron-left"></span></button>
							</div>
							<div class="clear"></div>
						</div>
						<div class="box-body">
							<div class="carousel slide media-carousel" id="media1">
						        <div class="carousel-inner">
						          {% for myAlbum in albums2 %}
                                        {% ifequal forloop.first True %}
                                            <div class="item  active">
                                                <div class="row">

                                        {% else %}
                                            {% ifequal forloop.counter0|divisibleby:"4" True %}
                                                </div>
                                                </div>
                                                <div class="item">
						                        <div class="row">
                                            {% endifequal %}
                                        {% endifequal %}

                                        <div class="col-md-3">
                                            <div class="thumbnail">
                                                <div class="caption">
                                                    <br>
                                                    <h4>{{ myAlbum.name }}</h4>
                                                    <p>
                                                        {% for artist in myAlbum.artistID.all %}
                                                            {{ artist.name }}&nbsp;
                                                        {% endfor %}
                                                    </p>
                                                    <br>
                                                    <ul class="ZDmneu">
                                                        <li><a href=""><img src="{% static 'music/img/add.png' %}" alt=""></a></li>
                                                        <li><a href=""><img src="{% static 'music/img/playSmall.png' %}" alt=""></a></li>
                                                        <li><a href=""><img src="{% static 'music/img/downloadWhite.png' %}" alt=""></a></li>
                                                    </ul>
                                                </div>
                                                <img class="img-responsive" alt="" src="{% static 'music/img/slider.png' %}">
                                            </div>
                                        </div>

                                        {% ifequal forloop.revcounter0 0 %}
                                            </div>
                                            </div>
                                        {% endifequal %}
                                    {% endfor %}
						        </div>
						        <a data-slide="prev" href="#media1" class="left carousel-control"><img src="{% static 'music/img/sliderPrev.png' %}" alt=""></a>
						        <a data-slide="next" href="#media1" class="right carousel-control"><img src="{% static 'music/img/sliderNext.png' %}" alt=""></a>
						      </div>   
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 navBg no-padding">
				<div class="container">
					<div class="col-md-3 col-sm-3 col-xs-12 social-icon">
						<a href=""><img class="img-responsive" src="{% static 'music/img/facebook.png' %}" alt=""></a>
						<a href=""><img class="img-responsive" src="{% static 'music/img/twitter.png' %}" alt=""></a>
						<a href=""><img class="img-responsive" src="{% static 'music/img/pinterest.png' %}" alt=""></a>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 footerlinks">
						<ul>
							<li><a href="">راهنما</a></li>
							<li><a>|</a></li>
							<li><a href="">درباه ما</a></li>
							<li><a>|</a></li>
							<li><a href="">تماس با ما</a></li>
							<li><a>|</a></li>
							<li><a href="">همکاری ناشران</a></li>
							<li><a>|</a></li>
							<li><a href="">پشتیبانی</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 copyright">
						<div class="media">
							<div class="pull-right" style="padding-left:15px;">
							    <a href="#">
							      	<img class="media-object img-responsive" src="{% static 'music/img/2_03.png' %}" alt="...">
							    </a>
							</div>
							<div class="media-body">
							    <p style="padding:10px 0px 5px 0px;">ایجاد شده در : </p>
							    <a href="http://gereh.ir/">
							      	<img class="img-responsive" src="{% static 'music/img/gereh.png' %}" alt="...">
							    </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script type="text/javascript" src="{% static 'music/js/masterslider.js' %}"></script>
	<script type="text/javascript" src="{% static 'music/js/app.js' %}"></script>
	<script>
		$("#next").click(function() {
		  var nextElement = $('#mycars > option:selected').next('option');
		  if (nextElement.length > 0) {
		    $('#mycars > option:selected').removeAttr('selected').next('option').attr('selected', 'selected');
		  }
		});

		$("#prev").click(function() {
		  var nextElement = $('#mycars > option:selected').prev('option');
		  if (nextElement.length > 0) {
		    $('#mycars > option:selected').removeAttr('selected').prev('option').attr('selected', 'selected');
		  }
		});
	</script>
	<script>
		$("#next1").click(function() {
		  var nextElement = $('#mycars1 > option:selected').next('option');
		  if (nextElement.length > 0) {
		    $('#mycars1 > option:selected').removeAttr('selected').next('option').attr('selected', 'selected');
		  }
		});

		$("#prev1").click(function() {
		  var nextElement = $('#mycars1 > option:selected').prev('option');
		  if (nextElement.length > 0) {
		    $('#mycars1 > option:selected').removeAttr('selected').prev('option').attr('selected', 'selected');
		  }
		});
	</script>
</body>
</html>